/* Light blue (HSL) color to background of the site */
body {
    background-color: hsl(192, 81%, 46%);
}

/* White (name) color to paragraph and list text */
p, li {
    color: white;
}

/* Light green (RGB) background color to h2 */
h2 {
    background-color: rgb(144, 238, 144);
}

/* Light orange (Hex) background color to h3 */
h3 {
    background-color: #FFBA01;
}

/* Box model with long hand notations for margin and padding */
.boxlong {
    /* font size */
    font-size: 1.5em;

    /* margins */
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;

    /* padding */
    padding-top: 1mm;
    padding-bottom: 1mm;
    padding-left: 10pt;
    padding-right: 10pt;
    
    /* border */
    border-width: 5px;
    border-style: solid;
    border-color: peachpuff;
    border-radius: 10px;
}

/* Box model with short hand notations for margin and padding */
.boxshort {
    /* font size */
    font-size: 1.5em;
    
    /* margins */
    margin: 1mm 1pt 5mm 1pt;

    /* padding */
    padding: 1mm 10pt 1mm 10pt;

    /* border */
    border-width: 5px;
    border-style: solid;
    border-color: peachpuff;
    border-radius: 10px;
}

/* Box model with auto notations for margin */
.boxauto {
    /* font size */
    font-size: 1.5em;
    
    /* margins */
    margin: auto;

    /* padding */
    padding: 1mm 10pt 1mm 10pt;

    /* border */
    border-width: 5px;
    border-style: solid;
    border-color: peachpuff;
    border-radius: 10px;
}