/* Light blue (HSL) color to background of the site */
body {
    background-color: hsl(192, 81%, 46%);
}

/* White (name) color to paragraph and list text */
p, li {
    color: white;
}

/* Light green (RGB) background color to h2 */
h2 {
    background-color: rgb(144, 238, 144);
}

/* Light orange (Hex) background color to h3 */
h3 {
    background-color: #FFBA01;
}

/* Box model with long hand notations for margin and padding */
.boxlong {
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    
    border-width: 5px;
    border-style: solid;
    border-color: peachpuff;
    border-radius: 10px;
}

/* Box model with short hand notations for margin and padding */
.boxshort {
    margin: 1px 1px 5px 1px;
    padding: 1px 10px 1px 10px;

    border-width: 5px;
    border-style: solid;
    border-color: peachpuff;
    border-radius: 10px;
}

.boxauto {
    margin: auto;

    border-width: 5px;
    border-style: solid;
    border-color: peachpuff;
    border-radius: 10px;
}