/* Setting the font to Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-VariableFont_wght.ttf");
}

html {
    font-family: "Montserrat";
}

/* Media query to make the title larger based on width*/
@media (min-width: 1200px){
    h1 {
        font-size: 3rem;
    }
}

/* Testing attribute selector on the options for an input field*/
option[value] {
    color: red;
}

/* Changing the color of title to yellow when clicked */
h1:active {
    color: yellow;
}

/* Light green (RGB) background color to h2 */
h2 {
    background-color: rgb(144, 238, 144);
}

/* Changing the color of sections to gray when hovered */
h3:hover {
    color: gray;
}

/* Light orange (Hex) background color to h3 */
h3 {
    background-color: #FFBA01;
}

/* Light blue (HSL) color to background of the site */
body {
    background-color: hsl(192, 81%, 46%);
}

/* White (name) color to paragraph and list text */
p, li {
    color: white;
    text-decoration: underline;
    text-align: left;
}

/* centering text */
.center {
    text-align: center;
}

/* Aligning the date to the center */
.date {
    font-size: 2.5em;
    position: sticky;
    top: 0;
}

/* Box model with long hand notations for margin and padding */
*.boxlong {
    /* font size */
    font-size: 1.5em;

    /* margins */
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;

    /* padding */
    padding-top: 1mm;
    padding-bottom: 1mm;
    padding-left: 10pt;
    padding-right: 10pt;
    
    /* border */
    border-width: 10px;
    border-style: solid;
    border-color: peachpuff;
    border-radius: 10px;

    /* display */
    display: inline-block;
    vertical-align: middle;

    /* setting the dimensions of the box */
    height: 250px;
    width: 550px;
    min-width: 500px;
    max-width: 550px;

    /* setting position and text alignment */
    position: static;
    text-align: center;
}

/* flexbox layout with columns of content*/
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    column-gap: 10px;
}

/* grid layout with centered elements*/
#grid {
    display: grid;
    justify-items: center;
    align-self:start;
    row-gap: 5px;
    column-gap: 5px;
}

/* Box model with short hand notations for margin and padding */
.boxshort {
    /* font size */
    font-size: 1.5em;
    
    /* margins */
    margin: 1mm 1pt 5mm 1pt;

    /* padding */
    padding: 1mm 10pt 1mm 10pt;

    /* border */
    border-width: 10px;
    border-style: solid;
    border-color: peachpuff;
    border-radius: 10px;

    display: block;
    text-align: center;
}

/* Box model with auto notations for margin */
.boxauto {
    /* font size */
    font-size: 1.5em;
    
    /* margins */
    margin: auto;

    /* padding */
    padding: 1mm 10pt 1mm 10pt;

    /* border */
    border-width: 10px;
    border-style: solid;
    border-color: peachpuff;
    border-radius: 10px;

    text-align: center;
}